#content5 {
	display:block;
	color:white;
	border-color:black;
}
#manong{
	position:fixed;
	left:30%;
	top: 24%;
}
#cm{
	font-weight:bold;
	font-size:40px;
	position:fixed;
	left:45%;
	top: 25%;
}
#con{
	font-size:20px;
	position:fixed;
	left:50%;
	top: 45%;
}
#con1{
	font-size:20px;
	position:fixed;
	left:50%;
	top: 10%;
}
.meal1{
font-size: 25px;
color: white;
background: rgba(0,0,0,.6);
width: 15%;
height: 6%;

}
#a{
position:fixed;
	left:50%;
	top: 60%;
}
#b{
position:fixed;
	left:70%;
	top: 60%;
}
.meal1:hover{
background: transparent;
transition: all 0.7s ease;
}

.notes{
	position:fixed;
	top: 25%;
	width: 300px;
	height:300px;

}
#adobo, #carbonara {
	 transform: rotate(7deg);
	 left:30%;
}
#karekare, #pizza {
	 transform: rotate(-3deg);
	left:70%;
}
#kaldereta, #burger {
	 transform: rotate(-7deg);
	 left:50%;
	top: 40%;
}