#content5 {
	display:block;
	color:white;
	border-color:black;
}
#manong{
	position:fixed;
	left:30%;
	top: 24%;
}
#cm{
	font-weight:bold;
	font-size:40px;
	position:fixed;
	left:45%;
	top: 25%;
}
#con{
	font-size:20px;
	position:fixed;
	left:50%;
	top: 45%;
}
#con1{
	font-size:20px;
	position:fixed;
	left:50%;
	top: 10%;
}
.meal1{
font-size: 25px;
color: white;
background: rgba(0,0,0,.6);
width: 15%;
height: 6%;

}
#a{
position:fixed;
	left:50%;
	top: 60%;
}
#b{
position:fixed;
	left:70%;
	top: 60%;
}
.meal1:hover{
background: transparent;
transition: all 0.7s ease;
}

.notes{
	position:fixed;
	top: 25%;
	width: 300px;
	height:300px;

}
.notes:hover{
	width: 350px;
	height:350px;
	transition:all 0.4s ease;

}
#adobo1, #carbonara1 {
	 transform: rotate(7deg);
	 left:25%;
}
#karekare1, #pizza1 {
	 transform: rotate(-3deg);
	left:65%;
}
#kaldereta1, #burger1 {
	 transform: rotate(-7deg);
	 left:45%;
	top: 40%;
}

#content6 {
	display: none;
	position:fixed;
	background: rgba(0,0,0,.8);
	border: 2px solid black;
	width:902px;
	height:562px;
	top:50px;
	left:330px;
	transition: all 0.7s linear;
}
#closeDiv {
	display:none;
	position:fixed;
	background: rgba(255,255,255,0.5);
	vertical-align:center;
	padding-top: .5em;
	text-align:center;
	font-weight:bold;
	border: 2px solid gray;
	width:30px;
	height:30px;
	top:50px;
	left:1232px;
	color:white;
}
.bigPic{
	position: fixed;
	top: 20%;
}
#intro{
	background:rgba(0,0,0,.7);
	padding: .5em;
	color: white;
	font-size:30px;
	font-weight:bold;
	position:fixed;
	left:55%;
	top: 10%;
}
#mealdiv{
	background:rgba(0,0,0,.7);
	position: fixed;
	top: 27%;
	left: 57%;
	font-size: 25px;
	color:white;
	width: 200px;
	padding: .5em;
}
#stepOne{
	font-size: 19px;
}
#continue{
	background:rgba(0,0,0,.7);
	padding: .2em;
	color: white;
	font-size:30px;
	font-weight:bold;
	position:fixed;
	left:70%;
	top: 78%;
}
#continue:hover{
	background:rgba(255,255,255,.4);
	padding: .2em;
	color: black;
	transition: all 0.7s linear;
	border-radius: 5px;
}
#choice,#listofing{
	width: 440px;
	height: 500px;
	border: 3px solid black;
	top: 16%;

}
#listofing{
position:fixed;
overflow:auto;
left:337px;
}

#choice{
position:fixed;
left:57.5%;
}
#check1,#check2{
	position:fixed;
	width:350px;
	height:250px;
	left:60%;
	top: 35%;
	padding: .3em;
	vertical-align: middle;
	text-align: center;
	background: rgba(0,0,0,.5);
	margin: 5px;
	border-radius:9px;
}
#check1:hover,#check2:hover{
	border:2px solid white;
	transition:all 0.7s ease;
}
#check3{
	font-size:30px;
	position:fixed;
	top:31.5%;
	left:84%;
	border-radius:9px;
	vertical-align:center;
	padding-bottom: .5em;
	height:30px;
	width:33px;
	background: rgba(100,110,110,.5);
	border: 2px solid gray;
}
#check3:hover{
	border: 2px solid red;
}
#stove,#pan{
	position:fixed;
	left:54%;
	top:18%;
}
#fire{
	position:fixed;
	left:68%;
	top:62%;
	width: 150px;
	height:45px;
}
#ingri{
	background: rgba(100,110,110,.5);
	width: 250px;
	height:100%;
	overflow:auto;
	font-size: 20px; 	
}
#food{
	
	position:fixed;
	height:100px;
	width:100px;
	left: 71%;
	top: 45%;
}
#proced{
	border: 2px solid white;
	position:fixed;
	height:100px;
	width:640px;
	left: 43%;
	top: 55px;
}
#finish{
	position:fixed;
	top:40%;
	left:45%;
}
#text{
	position:fixed;
	top:20%;
	left:50%;
	text-align:center;
	font-size: 30px;
	color: white;
}