body{
	background-image: url(resources/page/bg.png);
	background-size: cover;
	color:gray;
	font-family:Georgia;
}

#heading{
}
#heads{
	background: rgba(255,255,225, 0.5);
	text-align:center;
	font-weight:bold;
}
#content{

}
#content1{
position:fixed;
	background: rgba(0,0,0,0.5);
	text-align:center;
	font-weight:bold;
	border: 2px solid;
	width:350px;
	height:250px;
	top:50px;
	left:330px;
	
}
#content2{
	position:fixed;
	background: rgba(0,0,0,0.5);
	text-align:center;
	font-weight:bold;
	border: 2px solid;
	width:350px;
	height:250px;
	top:50px;
	right:330px;
	
	
}
#content3{
	position:fixed;
	background: rgba(0,0,0,0.5);
	text-align:center;
	font-weight:bold;
	border: 2px solid;
	width:350px;
	height:250px;
	top:302px;
	left:330px;
	
}
#content4{
	position:fixed;
	background: rgba(0,0,0,0.5);
	text-align:center;
	font-weight:bold;
	border: 2px solid;
	width:350px;
	height:250px;
	top:302px;
	right:330px;
	
}
#content5 {
	display:none;
	position:fixed;
	background: rgba(0,0,0,0.5);
	text-align:center;
	font-weight:bold;
	border: 2px solid;
	width:705px;
	height:502px;
	top:50px;
	left:330px;
}
#closeDiv {
	position:fixed;
	background: rgba(255,255,255,0.5);
	text-align:center;
	font-weight:bold;
	border: 2px solid;
	width:30px;
	height:30px;
	top:50px;
	right:329px;
}
#navigation{
}
#foot{
	text-align:center;
	font-weight:bold;
	top:500px;

}
#footer{
	text-align:center;
	font-weight:bold;
	top:500px;
}